{% extends "cal/layout.html" %}

{% block body %}
  {%for plan in plans%}
    <p>План: {{plan.name}}</p>
    <p>Старт:{{plan.start_time}}</p>
    <p>Длительность: {{plan.duration}}</p>
  {%endfor%}
  <table class="table">
    <tr>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
        <th>Воскресенье</th>
    </tr>
    <tr>          
      {% for d in table_data%}
      <td></td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}