{% extends "cal/layout.html" %}

{%block content%}

<div id = "neartable" class="container pt-3">
  <a class="btn btn-primary" href="{% url 'cal:week_view' year=prev_week.year month=prev_week.month day=prev_week.day %}">Папярэдні тыдзень</a>
  <a class="btn btn-primary" href="{% url 'cal:week_view' year=next_week.year month=next_week.month day=next_week.day %}">Наступны тыдзень</a>
</div>
  <div>
  <table class="table">

    <tr>
      {% for date in week_dates %}
          <th>{{ date|date:"d F"}}</th>
      {% endfor %}
    </tr>
    <tr>
      <th>Панядзелак</th>
      <th>Аўторак</th>
      <th>Серада</th>
      <th>Чацвер</th>
      <th>Пятніца</th>
      <th>Субота</th>
      <th>Нядзеля</th>  
  </tr>
  <tr>
    {% for date in week_dates %}
      <td>          
        {% for event in events%}
            {% if event.start_time.day == date.day %}
              <div id = "plan">
                <div>
                  <b>{{ event.name }}</b>
                </div>
                <div>
                  {{event.start_time|time:"H:i"}} - {{event.end_time|time:"H:i"}}
                </div>

              </div>
          {% endif %}
      {% endfor %}
       
      </td>
    {% endfor %}
  </tr>
  </table>
</div>
{% endblock %}