{% extends "cal/layout.html" %}

{% block content %}
  <div class="container-fluid">
    <h1 class="my-4">Пользователи</h1>

    <div class="row">
      <div class="col">
        <div class="list-group">
          {% for user in users %}
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <a href="{% url 'cal:edit_user' user.id %}">
                  <h5 class="mb-1">{{ user.username }}</h5>
                </a>
                <form method="post" action="{% url 'cal:delete_user' user.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                </form>
              </div>
            </div>
          {% empty %}
            <div class="list-group-item">
              <p class="mb-1">Нет пользователей.</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
